* {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #081b31;
  color: white;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.game {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game:hover {
  background-color: black;
  cursor: pointer;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.score-boared {
  text-align: center;
}

.message {
  text-align: center;
  margin-top: 5rem;
}

.score-boared {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 4rem;
  gap: 5rem;
}

#user,
#computer {
  font-size: 4rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 1.5rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
